@import url(//db.onlinewebfonts.com/c/1b52c5a3f46960646be8def342914f2a?family=Pesaro);

* {
  margin: 0;
  font-family: 'Pesaro bold';
}

.header {
  background-color: #5b1800;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.trybewarts-header-logo {
  width: 5%;
  height: 5%;
  margin-top: 1.5%;
  margin-bottom: 0.5rem
}

#trybewarts-header-title {
  margin-top: 1.5%;
  color: #00ae5f;
}

.trybewarts-login {
  margin-top: 1.5%;
}

#button {
  background-color: #00ae5f;
  color: white;
}

#button:hover {
  background-color: #00ae60f1;
}

#main {
  background-image: url('/images/pexels-mikhail-nilov-8391470.jpg');
  max-width: 100%;
  height: auto;
}