@import url(//db.onlinewebfonts.com/c/1b52c5a3f46960646be8def342914f2a?family=Pesaro);

* {
  margin: 0;
  font-family: 'Pesaro bold';
}

.header {
  background-color: #5b1800;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.trybewarts-header-logo {
  width: 5%;
  height: 5%;
  margin-top: 1.5%;
  margin-bottom: 0.5rem
}

#trybewarts-header-title {
  margin-top: 1.5%;
  color: #00ae5f;
}

.trybewarts-login {
  margin-top: 1.5%;
}

#button {
  background-color: #00ae5f;
  color: white;
}

#button:hover {
  background-color: #00ae60f1;
}

#main {
  background-image: url('/images/pexels-mikhail-nilov-8391470.jpg');
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#evaluation-form {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 40px;
  width: 50%;
  height: 50%;
  background-color:  #e5c07f;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 100px;
  width: 100px;
}

.ladoALado {
  display: flex;
  align-items: center
}

#primeiracoluna {
  flex-basis: 50%;
}

.form-check-inline {
  margin-right: 5px
}

#textarea {
  position: relative;
}

#counter {
  position: relative;
  bottom: 20px;
  left: 5px;
  opacity: 0.6;
  margin-bottom: 0;
}

#submit-btn {
  background-color: #00ae5f;
  color: white;
}

#submit-btn:hover {
  background-color: #00ae60f1;
}

#liberacao {
  margin-bottom: 10px;
}

#liberacao input {
  margin-left: 5px;
}

footer {
  background-color: black;
  color: white;
}