* {
  margin: 0;
}

#main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.flexivel {
  display: flex;
  flex-wrap: wrap;

}

#input-name {
  flex-basis: 40%;
}

#input-lastname {
  flex-basis: 40%;
}
